<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="portable45-net45+win8" />
  <package id="Common.Logging.Portable" version="3.4.1" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="portable45-net45+win8" />
  <package id="MoonSharp" version="2.0.0.0" targetFramework="portable45-net45+win8" />
</packages>